body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Prevent body from having two scrollbars when dialog is open */
body.MuiModal-scrollBody {
  overflow: hidden !important;
  padding-right: 0 !important; /* removes extra space from scrollbar compensation */
}

html {
  overflow-y: auto; /* ensure only one scrollbar */
}
